:root {
  --ig-purple: #833ab4;
  --ig-red: #fd1d1d;
  --ig-orange: #f77737;
  --ig-yellow: #fcaf45;
  --ig-pink: #e1306c;

  --ig-black: #262626;
  --ig-white: #ffffff;

  --ig-blue: #3897f0;
  --ig-dark-blue: #333;
  --ig-medium-grey: #b2b2b2;
  --ig-light-grey: #eeeded;
  --ig-background-default: #fafafa;
  --ig-divider-grey: #f4f4f4;
  --ig-backdrop: rgba(0, 0, 0, 0.65);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--ig-background-default);
}

header {
  width: 100%;
  height: 60px;
  background: var(--ig-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid var(--ig-divider-grey);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

footer {
  width: 100%;
  height: 5em;
  background: var(--ig-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--ig-divider-grey);
  z-index: 100;
}

main {
  flex: 1;
  overflow-y: auto;
  padding: 80px 20px 60px;
  width: 100%;
  height: calc(100vh - 110px);
}
